<!DOCTYPE html>
<html>
  <head>
    <title>Highwing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Highwing -- New Broker Policies</h1>
      <span>Assume today is February 3, 2018</span>
    </header>
    <%= yield %>
  </body>
</html>
