<main>
  <p id="notice"><%= notice %></p>

  <h1>Policies</h1>
  <table class="policy-table">
    <thead>
      <tr>
        <th>Policy type</th>
        <th>Division</th>
        <th>Carrier</th>
        <th>Client</th>
        <th>Effective Date</th>
        <th>Expiration Date</th>
        <th>Premium</th>
        <th>Policy No.</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @policies.each do |policy| %>
        <tr>
          <td><%= policy.policy_type %></td>
          <td><%= policy.division %></td>
          <td><%= policy.carrier&.company_name %></td>
          <td><%= policy.client&.client_name %></td>
          <td><%= policy.effective_date.to_formatted_s(:year_month_day) %></td>
          <td><%= policy.expiration_date.to_formatted_s(:year_month_day) %></td>
          <td><%= number_to_currency(policy.written_premium) %></td>
          <td><%= policy.carrier_policy_number %></td>
          <td><%= link_to 'Show', policy %></td>
          <td><%= link_to 'Edit', edit_policy_path(policy) %></td>
          <td><%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @policies %>

  <br>

  <%= link_to 'New Policy', new_policy_path %>
</main>